:root {
  @apply font-sans;

  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
}

html {
  @apply text-16px;
}
