@import "base";
@import "reactflow/dist/style.css";
@import "overlayscrollbars/styles/overlayscrollbars.css";
@import "split-pane-react/esm/themes/default.css";
@import "overrides/overlayscrollbars";
@import "overrides/reactflow";

body {
    --at-apply: font-normal w-full of-x-hidden text-gray-900 bg-white scroll-smooth h-dvh;
}
